<% if (title) { %>
    <h1><%= data[0].message_subject %></h1>
    <%} else {
        res.redirect("/")
    } %>

    <% if (errors) { %>
        <ul class="notice errors">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
 <p><b>Subject</b>: <%= data[0].message_subject %></p>
 <p><b>From</b>: <%= data[0].message_from %></p>
 <p><b>Message</b>:</p>
 <p><%= data[0].message_body %></p>
 <hr>
<div class="message_btn">
    
    <% if(!archived) { %>
        <button><a href="/account/message/reply/<%= data[0].message_id %>">Reply</a></button>
        <form action="/account/message/read" method="post" class="normalForm">
            <input type="hidden" name="message_id" value="<%= data[0].message_id %>">
            <button type="submit">Mark as read</button>
        </form>
        <form action="/account/message/archive-message" method="post" class="normalForm">
            <input type="hidden" name="message_id" value="<%= data[0].message_id %>">
            <button><a href="/">Archive message</a></button>
        </form>
    <%} %>
    <button><a href="/account/message/delete/<%= data[0].message_id %>">Delete message</a></button>
</div>